.git
minecraft/blueprints/
minecraft/compendiumunlocks/
minecraft/compendiumUpdates/
minecraft/CustomDISkins/
minecraft/mods/
logs/
minecraft/asm/
minecraft/crash-reports/
minecraft/dumps/
minecraft/hats/
minecraft/logs/
minecraft/reports/
minecraft/saves/
minecraft/screenshots/
minecraft/stats/
minecraft/JAKJ_RedstoneInMotion
minecraft/minetweaker.log
minecraft/options.txt
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/1213309934
minecraft/icon.png
patches/
instance.cfg